<html>
    <head>
        <title>Sppech Emotions Recorder</title>
        <link rel="stylesheet" href="./static/main.css" />
    </head>
    <body>
        <h1>Delete your recordings</h1>
        <h2 className="p-2 mx-2 my-8">
            Enter the UUID for the song you want to be removed
        </h2>
        <div id="form" class="delete-form-container"></div>
        <div class="footer-container">
            <a href="/">Home</a>
        </div>
        <script src="./static/delete-recording.js"></script>
    </body>
</html>
