<html>
    <head>
        <title>Speech Emotions Recorder</title>
        <link rel="stylesheet" href="./static/main.css" />
    </head>
    <body>
        <div class="title"><h2>Effacer vos enregistrements</h2></div>
        <p className="p-2 mx-2 my-8">
            Saissez l'identifiant de l'enregistrement que vous souhaitez supprimer:
        </p>
        <div id="form" class="delete-form-container"></div>
        <div class="footer-container">
            <a href="/">Page principale</a>
        </div>
        <script src="./static/delete-recording.js"></script>
        <div class="logos">
            <a href="https://wewyse.com/" target="_blank"><img alt="Wewyse logo" src="./static/img/logo-wewyse-footer.png" /></a>
            <a href="https://www.francetvlab.fr/" target="_blank"><img alt="FranceTV logo" src="./static/img/france_tv_logo_cmjn_france_couleur_noir.png" /></a>
            <a href="https://www.centralesupelec.fr/" target="_blank"><img alt="Centrale SupElec logo" src="./static/img/logo-centrale-supelec.png" /></a>
        </div>

    </body>
</html>
