<html>
    <head>
        <title>Speech Emotions Recorder</title>
        <link rel="stylesheet" href="./static/main.css" />
    </head>
    <body>
        <div class="title"><h2>Votre enregistrement a été effacé avec succès</h2></div>
        <div class="footer-container">
            <a href="/">Page principale</a>
        </div>
        <div class="logos">
            <a href="https://wewyse.com/" target="_blank"><img alt="Wewyse logo" src="./static/img/logo-wewyse-footer.png" /></a>
            <a href="https://www.francetvlab.fr/" target="_blank"><img alt="FranceTV logo" src="./static/img/france_tv_logo_cmjn_france_couleur_noir.png" /></a>
            <a href="https://www.centralesupelec.fr/" target="_blank"><img alt="Centrale SupElec logo" src="./static/img/logo-centrale-supelec.png" /></a>
        </div>
    </body>
</html>
