<html>
    <head>
        <title>Speech Emotions Recorder</title>
        <link rel="stylesheet" href="./static/main.css" />
    </head>
    <body>
        <h2>Effacer votre enregistrement</h2>
        <h3 className="p-2 mx-2 my-8">
            Saissez l'UUID de l'enregistrement que vous souhaitez supprimer:
        </h3>
        <div id="form" class="delete-form-container"></div>
        <div class="footer-container">
            <a href="/">Page principale</a>
        </div>
        <script src="./static/delete-recording.js"></script>
    </body>
</html>
